@model TrabajoPAAII.Models.CarreraModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EliminarCarrera</title>
</head>
<body>
    <h3>¿Está seguro que desea eliminar esto?</h3>
    <div>
        <h4>CarreraModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreCarrera)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreCarrera)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AreaNegocio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AreaNegocio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Volver", "Inicio")
            </div>
        }
    </div>
</body>
</html>
