@model TrabajoPAAII.Models.AlumnoDatosSaludModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalle</title>
</head>
<body>
    <div>
        <h4>AlumnoDatosSaludModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.AlumnoModel.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlumnoModel.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AlumnoModel.Rut)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlumnoModel.Rut)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlumnoModel.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlumnoModel.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlumnoModel.Apellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlumnoModel.Apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlumnoModel.Edad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlumnoModel.Edad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlumnoModel.Sexo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlumnoModel.Sexo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AlumnoModel.IdSalud)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AlumnoModel.IdSalud)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DatosSaludAlumnoModel.IdSalud)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatosSaludAlumnoModel.IdSalud)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatosSaludAlumnoModel.Estatura)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatosSaludAlumnoModel.Estatura)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatosSaludAlumnoModel.Peso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatosSaludAlumnoModel.Peso)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatosSaludAlumnoModel.ObservacionesSalud)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatosSaludAlumnoModel.ObservacionesSalud)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatosSaludAlumnoModel.ProblemaCardiaco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatosSaludAlumnoModel.ProblemaCardiaco)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Editar", new { id = Model.AlumnoModel.Id }) |
        @Html.ActionLink("Eliminar", "Eliminar", new { id = Model.AlumnoModel.Id }) |
        @Html.ActionLink("Volver a la Lista", "Index")
    </p>
</body>
</html>
